body{
	width:100%;
	height:100%;
	background-image: url(../imagens/32.jpg);
     background-position: 10% 45%;
     background-size: cover;
	
}
#menu ul {
    padding:0px auto;
    margin:30px auto;
    background-color:;
    list-style:none;

}
#menu ul li { display: inline; }
#menu ul li a {
    padding: 10px 10px;
    display: inline-block;
	border:20px;


    /* visual do link */
    background-color:none;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: gray;
    border-bottom:3px solid gray;
   
}
*{
	margin:0; padding:0;
}

.pic{
	width: 1024px auto;
	height:326px auto;
	position:absolute;

}
.galeria{
	border: 10px solid black;
	margin:5px auto;
	width: 1024px;
	height:326px;
	position:relative;
	overflow:hidden;
}
.foto{
	position: relative;

}





#div1{
	background-color:gray;
	padding:0%;
	margin:0px auto;
     height:auto%;
	 width:1045px;
	border-radius: 2% 2% 0% 0%;
	   opacity: 0.9;
    filter: alpha(opacity=50);
}
#div2{
	background-color:gray;
	padding:0%;
	margin:0px auto;
     height:auto%;
	 width:1045px;
	color;#EDEDED;
    opacity: 0.9;
    filter: alpha(opacity=50);
}
#ft{
	 width:150;
	 height:150;
	 position:fixed;
	 float:left;
	 top: -7%
}
#video1
{
 border-width:50px;
  border-color:none;
  opacity:0.9;
  border-radius:2% 2% 0% 0%;
 }


